@Model Medico
@{
	ViewData["Title"] = "Home Page";
}
<div class="container">
	<h1>Este é o index.cshtml da pasta home</h1>
	<a class="button" href="~/home">index</a>
	<a class="button" href="~/home/Testemeu">Teste</a>
</div>