@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-3">
		<div class="jumbotron">

		</div>
	</div>
	<div class="col-md-9">
		<div class="jumbotron">

		</div>
	</div>
</div>
