@{
    ViewData["Title"] = "Página inicial";
}

<div class="row">
    <div class="col-md-3">
        <h2>Tabelas</h2>
    </div>
    <div class="col-md-3">
        <h2>Consultas</h2>
    </div>
    <div class="col-md-3">
        <h2>Exames</h2>
    </div>
    <div class="col-md-3">
        <h2>Estatísticas</h2>
    </div>
</div>